export AWS_PROFILE="redhacks-temp"
# export TRANSX_PATH="C:\Users\jfaer\Documents\Camtasia"
export VIMEO_CLIENT_ID=2ba3865b8f7f13ab9ec8b67275e7dad031083c92
export VIMEO_ACCESS_TOKEN=9785eee54dc1e3ca30e3e8a9ec2ade52
export VIMEO_CLIENT_SECRET=V6ONrHOiG7onXNCdElRlMvHoRfbVE2iGwsgP/W/f46Q+5FUvnH7HQ//HTLBOM48vNNrab1dJIiJUmqg6wdGeMgGLrSeRcUSpq6C5V2yxAA2WtoOE3BB4boBw6cO3UAnM
export VIMEO_AUTH_URL=https://api.vimeo.com/oauth/authorize
export VIMEO_TOKEN_URL=https://api.vimeo.com/oauth/access_token
