{% extends 'transx_new/pages/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Upload a video</h1>
            <form action="{% url 'transx_new:video_upload' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}